@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper {
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.wrapper.small {
    max-width: 800px;
}

.wrapper-padding {
    padding-left: 5%;
    padding-right: 5%;
}

:root {
    --white: #ffffff;
    --black: #000000;
    --black-taupe: #3b3b3d;
    --accent-color: #ff0381;
}

.user-name {
    color: var(--white);
}

html {
    scroll-behavior: smooth;
    scroll-padding: 100px;
}

@media (min-width: 768px) {
    /* Hide menu on scroll down */
    body.scroll-down header:not(.mobile-menu-open) {
        transform: translateY(-100%);
    }

    /* Show menu on scroll up */
    body.scroll-up header:not(.mobile-menu-open) {
        transform: translateY(0);
    }
}

body.scroll header:not(.mobile-menu-open),
body.not-home header {
    background-color: var(--white);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);

    .logo-letters {
        fill: var(--black);
    }

    .socials svg path {
        fill: var(--black);
    }

    .user-name {
        color: var(--black);
    }

    .burger-menu svg path {
        stroke: var(--black);
    }

    & nav {
        background-color: transparent;
        color: var(--black);
    }
}

@media (max-width: 1023px) {
    header nav {
        background-color: white !important;
    }
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    &:not(.home) {
        padding-top: 80px;
    }
}

main {
    flex: 1;
}

h1,
.h1 {
    font-size: 80px;
}

h2,
.h2 {
    font-size: 70px;
}

h3,
.h3 {
    font-size: 22px;
    font-weight: 500;
}

.font-montserrat {
    font-family: var(--font-montserrat);
}

.font-poppins {
    font-family: var(--font-poppins);
}

.font-staatliches {
    font-family: var(--font-staatliches);
}

p {
    font-size: 18px;
}

.section-margin {
    margin-top: 150px;
    margin-bottom: 150px;

    @media (max-width: 768px) {
        margin-top: 80px;
        margin-bottom: 80px;
    }
}

.section-margin:first-child {
    margin-top: 0;
}

.btn {
    color: white;
    padding: 15px 20px;
    background-color: var(--accent-color);
    border-radius: 12px;
    font-size: 18px;
    display: inline-flex;
    transition: 0.3s;

    &:hover {
        background-color: var(--accent-color);
    }

    &.small {
        padding: 10px 18px;
        font-size: 16px;
    }
}

.title-gradient {
    background-image: linear-gradient(
        180deg,
        #ff0381 0%,
        #ff2f76 36.98%,
        #f5831b 84.37%,
        #fbbc05 98.53%
    );
    color: transparent;
    background-clip: text;
}

.title-line {
    position: relative;
    display: inline-block;
}

.title-line:before {
    content: '';
    left: -100px;
    right: -100px;
    bottom: -60px;
    height: 150px;
    position: absolute;
    background-image: url('/images/title-line.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
    z-index: -1;

    @media (max-width: 768px) {
        left: 0;
        right: 0;
    }
}

.bg-linear {
    background: linear-gradient(
        264deg,
        #ff0381 -24.85%,
        #ff2f76 23.42%,
        #f5831b 85.29%,
        #fbbc05 103.76%
    );
}

input[type='checkbox'] {
    position: relative;
    border: 2px solid var(--white);
    border-radius: 3px;
    background: transparent;
    cursor: pointer;
    padding: 8px;
    height: 20px;
    width: 20px;
    appearance: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}

input[type='checkbox']:checked {
    background-color: var(--accent-color);
}

input[type='checkbox']:checked:before {
    border-color: var(--white);
}

input[type='checkbox']:before {
    content: '';
    position: absolute;
    width: 6px;
    height: 12px;
    border: solid transparent;
    border-width: 0 2px 2px 0;
    margin: -3px -1px 0 -1px;
    transform: rotate(45deg);
    z-index: 2;
    transition: 0.2s;
}

.legal {
    h3 {
        margin: 1.5em 0 0.5em 0;
    }

    p {
        font-size: 16px;
        line-height: 30px;
    }
}
