@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper {
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}


h1, .h1 {
    font-size: 80px;
}

h2, .h2 {
    font-size: 70px;
}

h3, .h3 {
    font-size: 22px;
    font-weight: 500;
}

.font-montserrat {
    font-family: var(--font-montserrat);
}

.font-poppins {
    font-family: var(--font-poppins);
}

.font-staatliches {
    font-family: var(--font-staatliches);
}

p {
    font-size: 18px;
}


section {
    margin-top: 100px;
    margin-bottom: 100px;
}


.btn {
    color: white;
    padding: 15px 20px;
    background-color: #ff03819c;
    border-radius: 12px;
    font-size: 18px;
}

.title-gradient {
    background-image: linear-gradient(180deg, #FF0381 0%, #FF2F76 36.98%, #F5831B 84.37%, #FBBC05 98.53%);
    color: transparent;
    background-clip: text;
}